body { background:#FFF5EE;  color: #000000; text-decoration: none; text-align:justify}
a:link { color: #0066FF; text-decoration: none} 
a:active { color: #0066FF; text-decoration: none } 
a:visited {  color: red; text-decoration: none}
a:hover {  color: green; text-decoration: none}

/* заголовки color: #FF6633 */
.HDR1, .HDR2, .HDR3 {
color: #0066FF;
font-family: Arial, Helvetica, sans-serif;
text-align:left
}

.HDR1 { 
text-align:left; 
font-size: 14pt; 
background-color: #CCCCFF;
margin: 0px;
font-style: normal;
} 

.HDR2 { 
font-size: 14pt;
margin: 0px, 0px, 0px, 30px
} 

.HDR3 { 
font-size: 12pt;
margin: 0px, 0px, 0px, 60px
} 

OL.A { list-style-type: none;}
OL.B { list-style-type: decimal;}
OL.C { list-style-type: disk;}
OL > LI {margin:  5px }

table {color:green;  font-size: 9pt;font-family: Verdana}


pre {color: #660000; font-family: monospace;   font-size: 120%}

B.index {color:red; font-size: 11pt; }




